html, body { overflow: hidden; }

header, footer {
    display: block;
    height: 100px;
}

main {
    position: relative;
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
}

.circle,
.circle::after,
.circle::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    z-index: 2;
}

/* circle on the top */
main .circle {
    width: 50%;
    background: var(--white);
    transform: scale(1.6, 1);
}

main .content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--white);
}

/* background */
main .content .background {
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    object-fit: cover;
    transform: scale(1, 1.2);
    filter: opacity(50%) brightness(1.2) contrast(1.2) grayscale(.9) sepia(60%);
    pointer-events: none;
}

/* container */
main .content .text-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
}

main .content .text-container .text {
    width: 80%;
    height: 60%;
    max-width: 800px;
    z-index: 3;
    background: #dddd;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #9997,
                10px 10px 10px #ddd4,
                inset 10px 10px 20px var(--white);
}

/* title */
main .content .text-container .text .title {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    padding: 10px 0;
}

main .content .text-container .text .title h1 {
    width: fit-content;
    font-family: 'Poppins-Regular';
    font-weight: 500;
    font-size: 2.5rem;
    font-style: oblique;
    font-synthesis: style;
    cursor: pointer;
}

main .content .text-container .text .title h1::after {
    content: '';
    display: block;
    cursor: pointer;
    position: relative;
    top: -5px;
    left: 2.5px;
    width: 32px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 3px;
    transition: all .6s ease;
}

main .content .text-container .text .title h1:hover::after {
    width: calc(50% + 5px);
}

main .content .text-container .text .title h1 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

main .content .text-container .text .title h1 span {
    font-size: 3rem;
    font-family: 'Poppins-Bold', 'SourceSansPro-Bold', sans-serif;
    font-synthesis: style;
    font-style: normal;
    cursor: pointer;
}

/* form */
main .content .text-container form {
    font-family: 'SourceSansPro-Regular';
    width: 100%;
    height: calc(100% - 1.4rem - 49px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main .content .text-container form .sub-title {
    font-size: 1.5rem;
    font-family: 'Poppins-SemiBold';
}

main .content .text-container form .form-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
    max-width: 250px;
}

main .content .text-container form .form-content .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35px;
    background: var(--white);
    position: relative;
    border-radius: 20px;
}

main .content .text-container form .form-content .input-box input {
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-family: 'SourceSansPro-Regular';
    padding: 6px 14px;
    color: var(--black-3);
}

main .content .text-container form .form-content .input-box input::placeholder {
    color: transparent;
    font-family: 'SourceSansPro-Light';
    transition: all .4s;
}

main .content .text-container form .form-content .input-box input:focus::placeholder {
    color: var(--grey-5);
}

main .content .text-container form .form-content .input-box label {
    position: absolute;
    padding: 6px 14px;
    transition: all .4s ease;
    cursor: text;
}

main .content .text-container form .form-content .input-box input:not(:focus) ~ label {
    animation: input-animate .4s ease reverse;
    top: 0;
    font-size: 1rem;
}

main .content .text-container form .form-content .input-box input:focus ~ label,
main .content .text-container form .form-content .input-box input:valid ~ label {
    animation: input-animate .4s ease;
    top: -15px;
    font-size: 14px;
}

main .content .text-container form .form-content .input-box.submit {
    width: fit-content;
    margin-left: calc(50% - 55px);
    background: #0af;
    cursor: pointer;
    opacity: 1;
    transition: all .4s ease;
}

main .content .text-container form .form-content .input-box.submit button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-family: 'Poppins-SemiBold';
    padding: 0 12px;
    cursor: pointer;
}

main .content .text-container form .form-content .input-box.submit:hover,
main .content .text-container form .form-content .input-box.submit:focus {
    opacity: 70%;
}

main .content .text-container form .form-content .options a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

main .content .text-container form .form-content .options a::after {
    content: '';
    display: block;
    position: relative;
    left: 147px;
    width: 0;
    height: .5px;
    background: var(--primary-color);
    transition: all .4s ease;
}

main .content .text-container form .form-content .options a:hover::after {
    width: 60px;
}

/* circle on the bottom */
main .content .circle {
    background: var(--white);
    width: 200px;
    height: 200px;
    transform: none;
    transform: scale(1.75, 1.4);
}

/* main .content .circle::before {
    background: #00f1;
    width: 200px;
    height: 200px;
    transform: scale(95%);
} */

@keyframes input-animate {
    from {
        top: 0;
        font-size: 1rem;
    }
    
    to {
        top: -15px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    main .content .background {
        transform: scale(1);
    }

    main .content .text-container .text .title h1 {
        font-size: 1.8rem;
    }

    main .content .text-container .text .title h1::after {
        width: 26px;
    }

    main .content .text-container .text .title h1 span {
        font-size: 2.5rem;
    }
}
